<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/view.css">
</head>

<body>
    <div class="header">
        <h1>http://localhost:8080/item</h1>
        <a href="/" class="back_home_btn">Back to home</a>
        <a href="/item/create/view" class="add_new_btn">Add new</a>
    </div>

    <table id="items">
        <tr>
            <% listItems.fields.forEach(function(field) { %>
                <th>
                    <%= field %>
                </th>
                <% }) %>
                    <th colspan="2">actions</th>
        </tr>
        <% listItems.rows.forEach(row=> { %>
            <tr>
                <td>
                    <%= row.itemId %>
                </td>
                <td>
                    <%= row.itemName %>
                </td>
                <td><a href="/item/update/view/<%= row.itemId%>">update</a></td>
                <td><a href="/item/delete/view/<%= row.itemId %>">delete</a></td>
            </tr>
            <% }) %>
    </table>

</body>

</html>